h1{
    color: white;
    margin-left: 46vw;
}

body{
    background-color: #4D4D4D;
    margin: 0;
    padding-top: 10vh;
}

/* form log in sign in */
form{
    margin-left: 35vw;
}

form label{
    display: none;
    height: 0;
    width: 0;
    font-size: 0;
}

input{
    text-align: center;
    padding: 14px 20px;
}

#button{
    width:150px;
    height:50px;
    position: absolute;
    top: 75vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#rectangle{
    z-index: -1;
    width:45vw;
    height:60vh;
    background-color: #244478;
    position: fixed;
    border-radius: 15px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#rectangle2{
    z-index: -1;
    width:50vw;
    height:65vh;
    background-color: #ffffff;
    position: fixed;
    border-radius: 25px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#rectangle3{
    z-index: -1;
    width:1vw;
    height:60vh;
    background-color: #000000;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}


/* text area report style */
#pseudo{
    width:15vw;
    height:5vh;
    position: absolute;
    top: 42vh;
    left: 38vw;
    transform: translate(-50%, -50%);
    text-align: center;
}

#pwd{
    width:15vw;
    height:5vh;
    position: absolute;
    top: 52vh;
    left: 38vw;
    transform: translate(-50%, -50%);
    text-align: center;
}

#mail{
    width:15vw;
    height:5vh;
    position: absolute;
    top: 32vh;
    left: 62vw;
    transform: translate(-50%, -50%);
    text-align: center;
}

#pseudo_in{
    width:15vw;
    height:5vh;
    position: absolute;
    top: 42vh;
    left: 62vw;
    transform: translate(-50%, -50%);
    text-align: center;
}

#pwd_in{
    width:15vw;
    height:5vh;
    position: absolute;
    top: 52vh;
    left: 62vw;
    transform: translate(-50%, -50%);
    text-align: center;
}

#pwd_in_conf{
    width:15vw;
    height:5vh;
    position: absolute;
    top: 62vh;
    left: 62vw;
    transform: translate(-50%, -50%);
    text-align: center;
}

input[type=text], select, input[type=email], input[type=password] {
    width: 40vw;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 1vh;
}

/* Style the submit button */
.button1 {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:15vw;
    height:5vh;
    position: absolute;
    top: 75vh;
    left: 38vw;
    transform: translate(-50%, -50%);
    text-align: center;


}

.button2 {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:15vw;
    height:5vh;
    position: absolute;
    top: 75vh;
    left: 62vw;
    transform: translate(-50%, -50%);
    text-align: center;

}

/* Add a background color to the submit button on mouse-over */
.button1:hover {
    background-color: darkblue;
}

/* Add a background color to the submit button on mouse-over */
.button2:hover {
    background-color: darkblue;
}


/*Fonts*/
.serif {
    font-family: "Times New Roman", Times, serif;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

.monospace {
    font-family: "Lucida Console", Courier, monospace;
}