h1{
    color: white;
    text-align: center;
    width: 100vw;
    font-family: Verdana, sans-serif;
    padding-top: 2vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #4D4D4D;
    background-size: cover;
    background-image: url(../images/lln_place_unif_noir.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#rectangle{
    margin-top: 5vh;
    width: 80vw;
    height: 80vh;
    max-width: 800px;
    min-width: 300px;
    background-color: whitesmoke;
    border-radius: 25px;
}

#rectangle2{
    width: 95%;
    height: 95%;
    background-color: #244478;
    border-radius: 15px;
}

#accident{
    min-height: 300px;
    height: 40vh;
}

#localization{
    min-height: 50px;
    height: 5vh;
}


input[type=text]{
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: floralwhite;
}

/* Style the submit button */
.myBtn{
    width: 100%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    border-radius: 10px;
}

@media(min-width: 550px){
    input[type=file]{
        display: flex;
    }

    h1{
        font-size: small;
    }

    .myBtn, input[type=file]{
        margin-top: 2%;
    }
}

@media(max-width: 541px){
    h1{
        font-size: small;
    }

    .myBtn, input[type=file]{
        margin-top: 5%;
    }
}

input[type=file]{
    text-align: center;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

/*.imgInput{
    padding-top: 5px;
    background-color: greenyellow;
}*/