body{
    background-color: #4D4D4D;
}

.menu{
    position: relative;
}

.datepad{
    margin-top: 2vh;
}

.datepad2{
    margin-top: 12vh;
}

menu li{
    padding-left: 1vw;
}

.main{
    background-color: #4D4D4D;
    position: absolute;
    top: 70vh;
}

.main_title{
    color: #eeeee8;
}

#search{
    text-align: center;
    width: 15vw;
}

.hero_img{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

}

#date{
    padding-top: 2vh;
    padding-left: 5vw;
    color: white;
}

.offscreen{
    display: none;
}

table {
    width: 80vw;
    margin: 5vh 10vw 5vh 10vw;
    border-collapse: collapse;

}

tr td{
    color: #eeeee8;
    text-align: left;
    padding-left: 3vw;
}

table tbody tr:nth-child(odd){
    background-color: #4D4D4D;
}

table tbody tr:nth-child(even){
    background-color: rgba(52, 83, 154, 0.68);
}

table tbody tr td{
    border: 1px solid #c8c8c8;
}

thead{
    border: none;
}

footer{
    color: white;
    width: 100vw;
    height: 5vh;
    background-color: #244478;
    text-align: center;
    margin: 0;
    padding-top: 1vh;
}

.toScroll{
    width: 90vw;
    margin:0;
    padding:0;
    height: 500vh;
}