body{
    background-color: #4D4D4D;
}

.menu{
    position: relative;
}

.menuFixed{
    position: fixed;
    top: 0;
    width: 100vw;
}

.datepad{
    margin-top: 2vh;
}

.datepad2{
    margin-top: 12vh;
}

menu{
    margin-top: 0;
}

menu li{
    padding-left: 1vw;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main{
    background-color: #4D4D4D;
    position: absolute;
    top: 70vh;
}

#nav-col--{
    align-items: end;
}

.nav-item{
    text-align: center;
}
#main_title{
    color: #eeeee8;
}

#search{
    background-color: #4D4D4D;
    color: white;
    margin-top: .5vh;
    text-align: center;
    width: 180px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
}

#hero_img{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

}

#date{
    padding-top: 2vh;
    padding-left: 5vw;
    color: white;
}

.offscreen{
    display: none;
}

table {
    width: 80vw;
    margin: 5vh 10vw 5vh 10vw;
    border-collapse: collapse;
}

tr td{
    color: #eeeee8;
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

table tbody tr:nth-child(even){
    background-color: #4D4D4D;
}

table tbody tr:nth-child(odd){
    background-color: rgba(52, 83, 154, 0.68);
}

table tbody tr td{
    border: 1px solid #c8c8c8;
}

thead{
    border: none;
}

thead tr td{
    text-align: center;
    padding-bottom: 1vh;
}

footer{
    color: white;
    width: 100vw;
    height: 5vh;
    background-color: #244478;
    text-align: center;
    margin: 0;
    padding-top: 1vh;
}