/* main menu style */
menu{
    display: inline-flex;
    list-style: none;
    position: relative;
    margin: 0;
    background-color: #7f7f7f;
    padding-left: 60vw;
    width: 40vw;
    padding-top: 5px;
    padding-bottom: 5px;
}

menu li{
    padding-right: 2vw;
}

#repButton{
    color: red;
}

#search{
    width: 15vw;
    text-align: center;
    border-radius: 7px;
}

.offscreen{
    overflow: hidden;
    display: none;
}

#main_title{
    position: absolute;
    top: 3vh;
    left: 7vw;
    color: white;
}

.hero_img{
    z-index: -1;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.hero{
    margin-top: -10vh;
}

/* body style */
body{
    background-color: #4D4D4D;
    margin: 0;
    padding-top: 10vh;
}

/* paragraph style */
p {
    color: white;
    margin-left: 5vw;
    margin-right: 5vw;
}

/* style inputs */
input{
    text-align: center;
}
